@model Vidly.Models.Movie
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Movie</h2>
@using (Html.BeginForm("Save", "Movie"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseData)
        @Html.TextBoxFor(m => m.ReleaseData, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Genre.Id)
        @*Create New ViewModel For Genres and Movies! *@
        @Html.DropDownListFor(m => m.Genre.Id, new SelectList(Model.Genre, "Id", "Name"), "Select Membrership Type", new { @class = "form-control" })
    </div>

}

